:root {
  --primary-color: #2c3e50;
  --primary-color-dark: #011A1F8F;
  --secondary-color: lightblue;
  --white: #d5d9e3;
  --gap-1: 4px;
  --gap-2: 8px;
  --gap-3: 16px;
  --gap-4: 32px;
  --gap-5: 64px;
}

body {
  font-family: "Chakra Petch", sans-serif;
}
