.p-togglebutton {
    background-color: #2c3e50 !important;
    border-color: #2c3e50 !important;
}

.p-togglebutton-content {
    color: aliceblue !important;
}

.p-togglebutton-checked span{
    background-color: lightblue !important;
    color: #2c3e50 !important;
}

.p-autocomplete {
    width: 100% !important;
    background-color: lightblue !important;
    border-radius: 20px !important;

}

.p-autocomplete-dropdown {
    background-color: lightblue !important;
    color: #2c3e50 !important;
}

.p-autocomplete-list-container {
    background-color: lightblue !important;
    border-radius: 5px !important;
}

.p-autocomplete-option {
    font-family: "Chakra Petch", sans-serif !important;
    color: #2c3e50 !important;
}

.p-autocomplete-option.p-focus {
    background-color: #3796b590 !important;
}

.p-autocomplete-option-selected.p-focus {
    background-color: #3796b590 !important;
}

.p-autocomplete-empty-message {
    font-family: "Chakra Petch", sans-serif !important;
    color: #2c3e50 !important;
}

.p-inputtext {
    width: 100% !important;
    background-color: lightblue !important;
    color: #2c3e50 !important;
    box-shadow: none !important;
    padding: 0 8px !important;
    border: none !important;
}

.p-inputtext:enabled:focus {
    border: none !important;
}

.p-inputtext:hover {
    border: none !important;
}

.p-inputnumber {
    padding: 0 !important;
}

.p-inputnumber:focus {
    outline: none !important;
    box-shadow: none !important;
}

.p-datepicker {
    font-family: "Chakra Petch", sans-serif !important;
}

.p-datepicker-input {
    display: none !important;
}

.p-datepicker-dropdown {
    border: none !important;
    border-radius: 5px !important;
    background-color: transparent !important;
}